@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Assets/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Industry</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Assets/css/linearicons.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Assets/css/hexagons.min.css">
    <link rel="stylesheet" href="~/Assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/css/main.css">

    <link rel="stylesheet" href="~/Assets/css/bootstrap.map">
    <link rel="stylesheet" href="~/Assets/css/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="~/Assets/css/jquerysctipttop.css">
    <link rel="stylesheet" href="~/Assets/css/main.map">

</head>
<body>
   


    @RenderBody()

    
    <script src="~/Assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Assets/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>

    <script src="~/Assets/js/hexagons.min.js"></script>
    <script src="~/Assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/js/jquery.counterup.min.js"></script>
    <script src="~/Assets/js/waypoints.min.js"></script>
    <script src="~/Assets/js/mail-script.js"></script>
    <script src="~/Assets/js/main.js"></script>

    <script src="~/Assets/js/easing.min.js"></script>
    <script src="~/Assets/js/hoverIntent.js"></script>
    <script src="~/Assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/jquery.sticky.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>

    <script src="~/Assets/js/parallax.min.js"></script>
    <script src="~/Assets/js/slick.js"></script>
    <script src="~/Assets/js/superfish.js"></script>
    <script src="~/Assets/js/superfish.min.js"></script>

</body>
</html>